<div class="tabs__content js-tabs-content">
    <div class="tabs__pane -tab-item-1 is-tab-el-active">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Madhya Pradesh</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Bhandavgarh </a></div>
              <div><a href="hotel-list-1.html">Kanha </a></div>  
              <div><a href="hotel-list-1.html">Pench </a></div>    
              <div><a href="hotel-list-1.html">Satpura </a></div>    

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Uttrakhand</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Corbett </a></div>
              <div><a href="hotel-list-1.html">Rajaji </a></div>  

             

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Rajasthan</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Ranthambore </a></div>
              <div><a href="hotel-list-1.html">Sariska </a></div>  
              <div><a href="hotel-list-1.html">Keoladeo </a></div>  
             

            </div>
          </div>
          <div class="mega__item">
            <div class="text-15 fw-500">Karnataka</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Bandidore </a></div>
            

            </div>
          </div>
          <div class="mega__item">
            <div class="text-15 fw-500">Maharashtra</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Tadoba </a></div>
            

            </div>
          </div>
          <div class="mega__item">
            <div class="text-15 fw-500">Assam</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Kaziranga </a></div>
            

            </div>
          </div>
          
          <div class="mega__item">
            <div class="text-15 fw-500">Gujrat</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Gir </a></div>
            

            </div>
          </div>
          <div class="mega__item">
            <div class="text-15 fw-500">Utter Pradesh</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Dudhwa </a></div>
            

            </div>
          </div>

        </div>

        <div class="mega__image d-flex relative">
          <img src="#" data-src="/frontent/img/backgrounds/13.jpg" alt="image" class="rounded-4 js-lazy">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs__pane -tab-item-2">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Rajasthan</div>
            <div class="y-gap-5 text-15 pt-5">

             
              <div><a href="hotel-list-1.html">Corbett </a></div>
              <div><a href="hotel-list-1.html">Rajaji </a></div>  

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-single-1.html">Tour List</a></div>

             

            </div>
          </div>
          <div class="mega__item">
            <div class="text-15 fw-500">Hotel Booking</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="/booking-pages">Booking Page</a></div>

            </div>
          </div>


        </div>

        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/15.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs__pane -tab-item-3">
      <div class="mega__content">
        <div class="mega__grid">

     
     
     <div class="mega__item">
      <div class="text-15 fw-500">Golden Triangle with Tiger Tour</div>
      <div class="y-gap-5 text-15 pt-5">

        <div><a href="hotel-list-1.html">Golden Triangle with Tiger Tour </a></div>
         

      </div>
    </div>

    <div class="mega__item">
      <div class="text-15 fw-500">Golden Triangle with Tiger Tour</div>
      <div class="y-gap-5 text-15 pt-5">

        <div><a href="hotel-list-1.html">Golden Triangle with Tiger Tour </a></div>
         

      </div>
    </div>

    <div class="mega__item">
      <div class="text-15 fw-500">Golden Triangle with Tiger Tour</div>
      <div class="y-gap-5 text-15 pt-5">

        <div><a href="hotel-list-1.html">Golden Triangle with Tiger Tour</a></div>
         

      </div>
    </div>

        </div>
        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/14.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs__pane -tab-item-4">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Golden Triangle Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Golden Triangle Tour </a></div>
               

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Golden Triangle Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Golden Triangle Tour </a></div>
               

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Golden Triangle Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Golden Triangle Tour </a></div>
               

            </div>
          </div>

        </div>

        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/13.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__pane -tab-item-5">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Indian Wildlife Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Indian Wildlife Tour</a></div>
               

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Indian Wildlife Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Indian Wildlife Tour </a></div>
               

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Indian Wildlife Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Indian Wildlife Tour </a></div>
               

            </div>
          </div>

        </div>

        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/15.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs__pane -tab-item-6">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Century</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Gir </a></div>
              

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-single-1.html">Tour List</a></div>

             

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Hotel Booking</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="/booking-pages">Booking Page</a></div>

            </div>
          </div>

        </div>

        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/14.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs__pane -tab-item-7">
      <div class="mega__content">
        <div class="mega__grid">

          <div class="mega__item">
            <div class="text-15 fw-500">Century</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-list-1.html">Dudhwa </a></div>
           

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Tour</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="hotel-single-1.html">Tour List</a></div>

             

            </div>
          </div>

          <div class="mega__item">
            <div class="text-15 fw-500">Hotel Booking</div>
            <div class="y-gap-5 text-15 pt-5">

              <div><a href="/booking-pages">Booking Page</a></div>

            </div>
          </div>

        </div>

        <div class="mega__image d-flex relative">
          <img src="/frontent/img/backgrounds/13.jpg" alt="image" class="rounded-4">

          <div class="absolute w-full h-full px-30 py-24">
            <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
            <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
          </div>
        </div>
      </div>
      <div class="tabs__pane -tab-item-8">
        <div class="mega__content">
          <div class="mega__grid">

            <div class="mega__item">
              <div class="text-15 fw-500">Century</div>
              <div class="y-gap-5 text-15 pt-5">

                <div><a href="hotel-list-1.html">Ranthambore </a></div>
                <div><a href="hotel-list-1.html">Sariska </a></div>  
               
              </div>
            </div>

            <div class="mega__item">
              <div class="text-15 fw-500">Tour</div>
              <div class="y-gap-5 text-15 pt-5">

                <div><a href="hotel-single-1.html">Tour List</a></div>

               

              </div>
            </div>

            <div class="mega__item">
              <div class="text-15 fw-500">Hotel Booking</div>
              <div class="y-gap-5 text-15 pt-5">

                <div><a href="/booking-pages">Booking Page</a></div>

              </div>
            </div>

          </div>
          <div class="mega__image d-flex relative">
            <img src="/frontent/img/backgrounds/7.png" alt="image" class="rounded-4">

            <div class="absolute w-full h-full px-30 py-24">
              <div class="text-22 fw-500 lh-15 text-white">Things to do on <br> your trip</div>
              <button class="button h-50 px-30 -blue-1 text-dark-1 bg-white mt-20">Experinces</button>
              <div className="single-service-item-three mb-40">
                        <div className="content">
                            <h3 className="title"><a href="tour-details.html">Small Cabin Wood</a></h3>
                            <p>To take trivial example which undertakes
                                laborious physical exercise chooses</p>
                                <img src={popServiceimg3} alt="service image"/>
                            <a href="#" className="btn-link">Read More<i className="far fa-long-arrow-right"></i></a>
                            <div className="meta">
                                <span className="icon"><i className="flaticon-blanket"></i></span>
                                <span className="icon"><i className="flaticon-cat"></i></span>
                                <span className="icon"><i className="flaticon-tent"></i></span>
                                <span className="icon"><i className="flaticon-fire"></i></span>
                                <span className="rate"><i className="fas fa-star"></i>4.9</span>
                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div className="single-service-item-three mb-40">
    <div className="content">
        <h3 className="title"><a href="tour-details.html">Small Cabin Wood</a></h3>
        <p>To take trivial example which undertakes
            laborious physical exercise chooses</p>
            <img src={popServiceimg3} alt="service image"/>
        <a href="#" className="btn-link">Read More<i className="far fa-long-arrow-right"></i></a>
        <div className="meta">
            <span className="icon"><i className="flaticon-blanket"></i></span>
            <span className="icon"><i className="flaticon-cat"></i></span>
            <span className="icon"><i className="flaticon-tent"></i></span>
            <span className="icon"><i className="flaticon-fire"></i></span>
            <span className="rate"><i className="fas fa-star"></i>4.9</span>
        </div>
    </div>
</div>

<div className="single-service-item-three mb-40">
  <div className="content">
      <h3 className="title"><a href="#">Caravan Solar Tent</a></h3>
      <p>We denounce with righteous indignation
          and beguiled and demoralized</p>
          <img src={popServiceimg2} alt="service image"/>
      <a href="#" className="btn-link">Read More<i className="far fa-long-arrow-right"></i></a>
      <div className="meta">
          <span className="icon"><i className="flaticon-blanket"></i></span>
          <span className="icon"><i className="flaticon-cat"></i></span>
          <span className="icon"><i className="flaticon-tent"></i></span>
          <span className="icon"><i className="flaticon-fire"></i></span>
          <span className="rate"><i className="fas fa-star"></i>4.9</span>
      </div>
  </div>
</div>











